AWS_PROFILE=default
# If use OKTA technology
# USE_OKTA=Y
# Edit the ~/.okta_aws_login_config to add the user name, the profile, the push, etc.
# okta_username = XXXX-A
# preferred_mfa_type = push
PORT=3000
# Use HOST=0.0.0.0 to accept call from everywhere
HOST=localhost

LOGLEVEL=WARNING

# shaystack.providers.(ping|url|sql)
HAYSTACK_PROVIDER=shaystack.providers.ping

# tests/carytown.zinc
# http://server/filename.zinc
# s3://bucker/my_file.zinc.gz
HAYSTACK_DB=

#PGADMIN_USER=user@domain.net
#PGADMIN_PASSWORD=password
# or
#PGADMIN_PASSWORD=<MySecretsManager|password>
# to use the AWS secret manager.

#MYSQL_USER=mysql
#MYSQL_PASSWORD=password
# or
#MYSQL_PASSWORD=<MySecretsManager|password>
# to use the AWS secret manager.

HAYSTACK_TS=timestream://HaystackDemo?mem_ttl=8760&mag_ttl=400

# Secret to use with Flash
COOKIE_SECRET_KEY?=11111111-2222-3333-4444-555555555555

# Default read params. Use with `make api-read`
READ_PARAMS=?filter=point&limit=5&version=

# Default hisRead params. Use with `make api-hisread`
# `make 'HISREAD_PARAMS=?id=@id1' api-hisRead`
HISREAD_PARAMS=?id=@p:demo:r:23a44701-3a62fd7a

# To use the module for test pypi
# PIP_INDEX_URL=https://test.pypi.org/simple
# PIP_EXTRA_INDEX_URL=https://pypi.org/simple