.v-ripple__container {
  opacity: 0.24 !important;
}
.footer__help {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: left;
}
.footer__help-links {
  color: black !important;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
}
