Source: hszinc
Maintainer: VRT Systems <support@vrt.com.au>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7), debhelper (>= 9), dh-python,
 python-pyparsing, python-iso8601, python-tz, python-six, python-pint
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: python-hszinc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyparsing,
 python-iso8601, python-tz, python-six
Description: Project Haystack ZINC (ZINC Is Not CSV) Parser/Dumper for Python
