.main-layout {
  height: 100%;
  background-color: #f2f2f2;
}
.main-layout__app-bar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.main-layout__app-bar > div {
  margin: 5px;
}
.main-layout__input-combobox {
  display: flex;
  width: 25%;
}
.main-layout__input {
  display: flex;
}
.main-layout__button {
  display: flex;
}
.main-layout__params {
  color: grey !important;
}
.v-btn:before {
  opacity: 0 !important;
}

.v-ripple__container {
  opacity: 0 !important;
}
.main-layout__settings {
  background: white;
  width: 200px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.main-layout__settings__text-version {
}
.main-layout__settings__buttons {
}
.main-layout__settings__text {
}
.main-layout__tootltips {
  display: flex;
}
.v-tooltip__content {
  background: white !important;
  color: black !important;
  border: 1px solid !important;
}
.main-layout__api-server-selection {
  padding-left: 5px;
  width: 100px;
}
.v-input__slot {
  min-height: 20px !important;
}
.main-layout__settings__text-field__limit {
  width: 2%;
  display: inline-block;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__settings__text-field__version {
  width: 2%;
  display: inline-block;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__title {
  color: black;
}
.main-layout__bar {
  background-color: white;
}
.main-layout__text-field {
  width: 1%;
  .v-input--is-focused {
    background: white;
  }
}
.v-toolbar__content {
  background-color: white;
}
.main-layout__combobox {
  width: 20%;
}
.main-layout__combobox-image {
  position: absolute !important;
  top: 4px;
  right: 20px;
}
.v-list-item--link {
  cursor: default !important;
}
.main-layout__text-field {
  width: 15%;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__text-field__date {
  width: 5%;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__combobox-api-text {
  padding-left: 15px;
  margin-right: 20px;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  //background: red;
  left: 5px;
  top: 9px;
}
.main-layout__settings__cache-button {
  margin: auto;
}
