.main-layout {
  background-color: #f2f2f2;
}
.main-layout__params {
  color: grey !important;
}
.v-btn:before {
  opacity: 0 !important;
}

.v-ripple__container {
  opacity: 0 !important;
}
.main-layout__settings {
  background: white;
  width: 200px;
  height: 50px !important;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.main-layout__settings__text-version {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
}
.main-layout__settings__buttons {
  margin-top: 10px;
  margin-right: 6px;
}
.main-layout__settings__text {
  margin-left: 10px;
  margin-top: 10px;
}
.main-layout__tootltips {
  padding-left: 5px;
  padding-right:  10px;
}
.v-tooltip__content {
  background: white !important;
  color: black !important;
  border: 1px solid !important;
}
.main-layout__api-server-selection {
  padding-left: 5px;
  width: 100px;
}
.v-input__slot {
  min-height: 20px !important;
}
.main-layout__settings__text-field__limit {
  width: 2%;
  margin-top: 5px !important;
  height: 10px !important;
  display: inline-block;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__settings__text-field__version {
  width: 2%;
  margin-top: 5px;
  height: 10px !important;
  margin-right: 10px !important;
  display: inline-block;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__title {
  color: black;
}
.main-layout__bar {
  background-color: white;
}
.main-layout__text-field {
  margin-top: 23px !important;
  padding: 0 20px !important;
  padding-right: 0px !important;
  width: 1%;
  .v-input--is-focused {
    background: white;
  }
}
.v-toolbar__content {
  background-color: white;
}
.main-layout__combobox {
  margin-top: 23px !important;
  padding: 0 20px !important;
  padding-right: 0px !important;
  width: 20%;
}
.main-layout__combobox-image {
  position: absolute !important;
  top: 4px;
  right: 20px;
}
.v-list-item--link {
  cursor: default !important;
}
.main-layout__text-field {
  margin-top: 23px !important;
  padding-left: 10px !important;
  width: 15%;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__text-field__date {
  margin-top: 23px !important;
  padding-left: 10px !important;
  width: 5%;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__combobox-api-text {
  padding-left: 15px;
  margin-right: 20px;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  //background: red;
  left: 5px;
  top: 9px;
}
