.main-layout {
  background-color: #f2f2f2;
}
.main-layout__api-server-selection {
  padding-left: 5px;
  width: 100px;
}
.main-layout__title {
  color: black;
}
.main-layout__bar {
  background-color: white;
}
.main-layout__text-field {
  margin-top: 23px !important;
  padding: 0 20px !important;
  width: 1%;
  .v-input--is-focused {
    background: white;
  }
}
.v-toolbar__content {
  background-color: white;
}
.main-layout__combobox {
  margin-top: 23px !important;
  padding: 0 20px !important;
  width: 1%;
}
.main-layout__combobox-image {
  position: absolute !important;
  top: 4px;
  right: 20px;
}
.v-list-item--link {
  cursor: default !important;
}
.summary-content__text-field {
  margin-top: 23px !important;
  width: 1%;
  .v-input--is-focused {
    background: white;
  }
}
.main-layout__combobox-api-text {
  padding-left: 15px;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  left: 5px;
  top: 9px;
}
