.summary-content {
  padding-top: 81px;
}
.summary-content__graph {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
}
.summary-content__spinner {
  color: black;
  background: white;
  justify-content: center;
  padding-top: 110px;
  text-align: center;
}
.summary-content__entity-row {
  background-color: white;
}
.summary-content__alert-no-data {
  width: 500px;
  margin: 0 auto;
}
